body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
    padding: 0px;
    margin: 0px;
  li {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
}

// 現在地ボタン
#map .ol-control button:focus {
  text-decoration: none;
  background-color: #006cff;
}
